<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrainingCards</title>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <link rel="stylesheet" th:href="@{/css/adminNavbarFragment.css}">
  </head>
  <body>
    <!-- Include the Navbar Fragment -->
    <div th:replace="~{fragments/adminNavbarFragment :: navbar}"></div>
    <!-- Page content -->
    
  <div class="container">
  
  <button><a href="/Trainingcards/creates">Create</a></button>
   <table class="table table-bordered  text-center">
   <thead>
   <tr>
   <th>ID</th> 
     <th>CLASSROOM / ONLINE</th>
     <th>Action</th>
   </tr>
   
   </thead>
   <tbody>
   <tr th:each="t:${Training1}">
   <td th:text="${t.Id}"></td>
   <td th:text="${t.TrainingCardslist}"></td>
   <td><a th:href="@{/Trainingcards/edit(id=${t.Id})}">Edit</a>
   <a th:href="@{/Trainingcards/delete(id=${t.Id})}"
					onclick="return confirm('Are you sure?')">delete</a></td>
   </tr>
   </tbody>
   </table>
   </div>
   
   
   <!-- TrainingCards-2 -->
   
 <!--   <div class="container">
  
  <button><a href="/Trainingcards/creates2">Create</a></button>
   <table class="table table-bordered  text-center">
   <thead>
   <tr>
   <th>ID</th> 
     <th>SELF-PACED LEARNING</th>
     <th>Action</th>
   </tr>
   
   </thead>
   <tbody>
   <tr th:each="tt:${training2}">
   <td th:text="${tt.id}"></td>
   <td th:text="${tt.list}"></td>
   <td><a th:href="@{/Trainingcards/edit2(id=${tt.Id})}">Edit</a>
   <a th:href="@{/Trainingcards/delete2(id=${tt.Id})}"
					onclick="return confirm('Are you sure?')">delete</a></td>
   </tr>
   </tbody>
   </table>
   </div>
   
   
     TrainingCards-3
   
   <div class="container">
  
  <button><a href="/Trainingcards/creates3">Create</a></button>
   <table class="table table-bordered  text-center">
   <thead>
   <tr>
   <th>ID</th> 
     <th>SELF-PACED LEARNING</th>
     <th>Action</th>
   </tr>
   
   </thead>
   <tbody>
   <tr th:each="ttt:${training3}">
   <td th:text="${ttt.id}"></td>
   <td th:text="${ttt.list}"></td>
   <td><a th:href="@{/Trainingcards/edit3(id=${ttt.Id})}">Edit</a>
   <a th:href="@{/Trainingcards/delete3(id=${ttt.Id})}"
					onclick="return confirm('Are you sure?')">delete</a></td>
   </tr>
   </tbody>
   </table>
   </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
